<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- Bootstrap CSS 추가 -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
<div class="container mt-5">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <form>
                <div class="form-group">
                    <label for="writer">작성자:</label>
                    <input type="text" class="form-control" id="writer" name="writer" th:value="${board.writer}" disabled>
                </div>
                <div class="form-group">
                    <label for="title">제목:</label>
                    <input type="text" class="form-control" id="title" name="title" th:value="${board.title}" disabled>
                </div>
                <div class="form-group">
                    <label for="content">내용:</label>
                    <textarea class="form-control" id="content" name="content" th:text="${board.content}" disabled></textarea>
                </div>
                <a th:href="@{/board/update/{idx}(idx=${board.idx})}" class="btn btn-warning">수정</a>
                <a th:href="@{/board/delete/{idx}(idx=${board.idx})}" class="btn btn-danger">삭제</a>
            </form>
        </div>
    </div>
</div>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
