<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- 부트스트랩 CSS 추가 -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container mt-5">
    <div class="mx-auto" style="max-width: 800px;">
        <table class="table">
            <thead class="thead-gray">
            <tr>
                <th scope="col">번호</th>
                <th scope="col">제목</th>
                <th scope="col">작성자</th>
                <th scope="col">등록일</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="board : ${board}">
                <th scope="row" th:text="${board.idx}"></th>
                <td><a th:href="@{/board/detail/{idx}(idx=${board.idx})}" th:text="${board.title}"></a></td>
                <td th:text="${board.writer}"></td>
                <td th:text="${#temporals.format(board.createdAt, 'yyyy-MM-dd HH:mm')}"></td>
            </tr>
            </tbody>
        </table>
        <div class="text-right mb-3">
            <a href="/board/register" class="btn btn-primary">글 쓰기</a>
        </div>
    </div>
    <div class="pagination justify-content-center">
        <ul class="pagination">
            <li class="page-item" th:each="pageStat : ${#numbers.sequence(0, totalPage - 1)}">
                <a class="page-link" th:href="@{/board/list(page=${pageStat})}" th:text="${pageStat + 1}"></a>
            </li>
        </ul>
    </div>
</div>
<!-- 부트스트랩 JS 추가 -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
</body>
</html>
